.header{
    background-color: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{

    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 170px;
}    
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: red;
}
.main-body{
    background: linear-gradient(white,#d3dbe8);
    width: 100%;
    height: 700px;
    
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 134px;
    padding-top: 52px;
    float: left;
}
.right-section{
    width: 39%;
    margin-top: 40px;
    float: left;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
#bday{
    padding: 10px;
}
#fname{
    padding: 10px;
}
#sname{
    padding: 10px;
}
#mobile{
    width: 191%;
    padding: 10px;
    margin-top: 10px;   
}
#newpass{
    width: 191%;
    padding: 10px;
    margin-top: 10px;   
   
}
.bday-label{
    margin-top: 10px;   
}
#date{
    padding: 10px;
    margin-top: 5px;   

}
#month{

    padding: 10px;
    margin-top: 5px;     
}
#year{

    padding: 10px;
    margin-top: 5px;   
}
#male,#female,#custom{
    margin-top: 5px;
}
.last-para{
    font-size:12px;
    margin-top: 17px;
}
.final-btn{
    width: 40%;
    height: 40px;
    background: green;
    color: white;
    font-size: 15px;
    margin-top: 17px;

}